@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright&display=swap");
* {

  box-sizing: border-box;
  outline: solid 1px red;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #0e0d0d;
  width: 100%;
  height: 100vh;

}

/***************************** navbar*************************************/
.navbar {
  margin: 0 auto;
  height: 14vh;
  color: #e5e5e5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1100px;
  cursor: pointer;
}

.gt {
  font-size: 25px;
  letter-spacing: 0.04em;
  font-family: "Cormorant Upright";
 
}

.pteam {
  width: 600px;
  display: flex;
  justify-content: space-between;
  
}

.navp {
  font-size: 20px;
  font-family: "Open Sans";
  font-family: "Cormorant Upright";
}

.logp {
  font-size: 20px;
  font-family: "Open Sans";
  

}

/***************************** first body*************************************/
.first {
  display: flex;
  align-items: center;
  height: 80vh;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 10px;
  cursor:context-menu;
}

.wordteam {
  width: 50%;
  padding: 50px;
}

.firstp {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  color: #e5e5e5;
}

.firsth1 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 700;
   font-size: 80px; 
  text-transform: capitalize;
  color: #dcca87;
  margin-top: 10px;

}

.firstp2 {

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #aaaaaa;
  
  max-width: 400px;
  margin-top: 10px;
}

.button1:active {
  transform: scale(0.95);
}

.button1 {
  width: 157px;
  height: 44px;
  background-color: #dcca87;
  font-family: "Cormorant Upright";
  color: #0c0b08;
  border-color: #e5e5e5;
  margin-top: 20px
}
.photofirst {
  margin: 0 auto;
 

}
.photofirst img {
  width: 400px;
  border: solid 10px #dcca87 ;
  border-radius: 15px;
}


/*********************** secon part **************/

.backimg{
   background-size: cover;
   background-image: url("./imges/BG.jpg");
}


.secondpart{
  max-width: 1100px;
  height: 140vh;
  margin: 0 auto;
  margin-top: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}



.g{
  position: absolute; 
}

.gimg{
  width: 300px; 
}

.knife{
  position: absolute;
}

.about{
  position: absolute;
  left: 250px;
  top: 300px;
}

.pabout{
  color: #dcca87;
  font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 54px;
text-transform: capitalize;
}


.history{
  position: absolute;
  right: 180px;
  top: 300px;
}

.phistory{
  color: #dcca87;
  font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 54px;
text-transform: capitalize;
}

.victor{
  position: absolute;
  left:400px;
  top: 400px;
}

.victor2{
  position: absolute;
  right:400px;
  top: 400px;
}




.text{
  position: absolute;
  max-width: 400px;
  left: 50px;
  top : 450px;
 
}

.text p{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
text-align: right;
color: #AAAAAA;
word-wrap: wrap;  
}

.text2{
  position: absolute;
  max-width: 400px;
  right:50px;
  top : 450px;
 
}

.text2 p{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
text-align: right;
color: #AAAAAA;
word-wrap: wrap;  
text-align: left;
}


.button2 button:active {
  transform: scale(0.95);
}
.button2{
  position: absolute;
  left: 310px;
  top: 550px;
}

.button2 button{
 
  background: #DCCA87;
  width: 141px;
  height: 44px;
  font-family: 'Cormorant Upright';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  border: solid 1px black;
}

.button3 button:active {
  transform: scale(0.95);
}

.button3{
  position: absolute;
  right: 310px;
  top: 550px;
}

.button3 button{
 
  background: #DCCA87;
  width: 141px;
  height: 44px;
  font-family: 'Cormorant Upright';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  border: solid 1px black;
}


/************third****************************/

.thirdpart{
  max-width: 1100px;
  height: 70vh;
  background: #1a1919;
  margin: 0 auto;
  margin-top: 150px;
  border: solid 1px #1a1919 ;
  position: relative;
  cursor: context-menu;
}

.reservations p {
  text-align: center;
  margin-top: 40px;
  font-family: 'Cormorant Upright';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: center; 
}

.book h1 {
  font-family: 'Cormorant Upright';
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  color: #DCCA87;
  text-align: center;
  margin-top: 20px;
}

.selection{
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
 
.selection_part select {
  width: 300px;
  height: 10vh;
  background-color:#1a1919;
  border: 1px solid rgba(220, 202, 135, 0.2);
  color: #DCCA87; 
  font-family: 'Cormorant Upright';
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}


.thirdpart_button button:active{
  transform: scale(0.95);
}
.thirdpart_button button{
  position: absolute;
  bottom: 30px;
  left: 470px;
  width: 150px;
  height: 10vh;
  background-color: #DCCA87;
  font-family: 'Cormorant Upright';
  color:#000000;
  border: solid 1px rgb(0, 0, 0);
  font-weight: 700;
  font-size: 15px;
  
}

/********************fouth**************/


.menu{
  max-width: 1100px;
  height: 100vh;
  margin-top: 100px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
  
}

.menup p {
  text-align: center;
  font-family: 'Cormorant Upright';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: center; 
}

.vector3 img {
  position: absolute;
  left:530px;
  top: 40px;  
}
.special h1 {

font-family: 'Cormorant Upright';
font-weight: 600;
font-size: 64px;
text-align: center;
text-transform: capitalize;
color: #DCCA87;
margin-top: 40px;

}

h3::after{
 content: "";
 display: block;
 background-color: white;
 width: 100px;
 height: 1px;
}

.winep{
  display: flex;
  
}